.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
    color: #0025FF;
}
body {
    background-color: #A64824;
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    text-align: center;
    min-width: 0px;
}
footer {
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 0px #56EDE6;
    box-shadow: 0px 0px #56EDE6;
    color: #C2DDED;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #A64824;
    font-style: normal;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
#my_thumbnail {
}
#my_thumbnail {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#my_thhumbnail {
}
#my_thhumbnail {
    padding-right: auto;
    padding-left: auto;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#my_thhhumbnail {
}
